@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.border-button {
  @apply bg-transparent text-primary-dark border-b-[3px] border-r-[3px] border-t-[1px] border-l-[1px] border-primary-dark
}



.banner-container {
  height: 57px;
  width: 100%;
  background-color: #FFCC00;
  /* Assuming this is your accent-yellow color */
  display: flex;
  align-items: center;
  overflow: hidden;
  /* Hide the overflowing content */
  position: relative;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  /* Prevent line breaks */
  animation: scroll 100s linear infinite;
  /* Infinite scrolling animation */
}

.banner-text {
  font-size: 14px;
  color: #032E32;
  /* Assuming this is your primary-dark color */
  margin-right: 16px;
}

.separator {
  width: 14px;
  height: 14px;
  background-color: #032E32;
  /* Assuming this is your primary-dark color */
  border-radius: 50%;
  margin-right: 16px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.arrow-container {
  position: absolute;
  top: -10px;
  right: calc(100vh - 300px); /* Adjust this value based on your design */
  transform: translateX(50%);
  display: none;
}

@media (min-width: 1024px) { /* lg breakpoint */
  .arrow-container {
      display: block;
      right: auto;
      left: calc(100% - 25vh); /* Adjust this value to position over 'O' */
  }
}
